* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    padding: 14px;
    background-image: url(img/Banner/b1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#page-header h2,
#page-header p {
    color: white;
}


#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #ffff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* single page */

#prodetails {
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-image-group {
    display: flex;
    justify-content: space-between;
}

.small-image-col {
    margin-top: 1%;
    flex-basis: 24%;
    cursor: pointer;
}

#single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#single-pro-details h4 {
    padding: 40px 0px 20px 0px;
}

#single-pro-details h2 {
    font-size: 26px;
}

#single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

#single-pro-details input:focus {
    outline: none;
}

#single-pro-details button {
    background-color: #088178;
    color: white;
}

#single-pro-details span {
    line-height: 25px;
}

#page-header.blog-header{
    background-image: url(img/Banner/b19.jpg);
}

#blog{
    padding: 150px 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

#blog .blog-img{
    z-index: 99;
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    position: relative;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    color: black;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: '';
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

.blog-box h1{
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
}

#page-header.about-page-header{
    background-image: url(img/About/banner.png);
    background-position-y: 20%;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}


#page-header.contact-header{
    background-image: url(img/About/banner.png);
}

#contact-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span
#from-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#from-details form h2{
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0px;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}


#contact-details .details li{
    display: flex;
    list-style: none;
    padding: 10px 0px;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#from-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    align-items: center;
}


#from-details form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#from-details form input,
#from-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#from-details form button{
    background-color: #088178;
    color: white;
}

#from-details .people div{
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}

#from-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#from-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#from-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px  5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    padding-block: 18px;
}

#cart table tbody tr td{
    padding-top: 15px;
}


#cart table tbody td{
    font-size: 15px;
}

#cart table img{
    width: 70px;
}

#cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding:10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 15px;
}

#cart{
    overflow-x: auto;
}

@media (max-width:477px) {
    #prodetails {
        flex-direction: column;
        width: 100%;
    }
    #prodetails .single-pro-image {
        width: 100%;
    }
    #single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
    #blog {
        width: 100%;
        padding: 80px 20px;

    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 100px;
        gap: 20px;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        object-fit: cover;
    }
    #blog .blog-details {
        width: 100%;
    }
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
    }
    #about-head div {
        padding-left: 0px;
        width: 100%;
        text-align: start;
    }
    #about-app .video {
        width: 100%;
        height: 30%;
    }
    #contact-details .details {
        width: 100%;
    }
    #contact-details {
        width: 100%;
        flex-direction: column;
    }
    contact-details .details {
        width: 100%;
    }
    #contact-details .map {
        width: 100%;
        margin-top: 20px;
    }
    #from-details {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        gap: 40px;
    }
    #from-details form {
        width: 100%;
    }
    #from-details .people div {
        padding-bottom: 20px;
    }
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal{
        width: 100%;
    }
}